* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    background-color: #ffffff;

}

#img_logo {
    padding: 15px;
    padding-right: 10px;


}

body {
    background-color: #eef3f5;
    font-family: Arial, sans-serif;
}

.titolo_pagina {
    display: inline-block;
    vertical-align: 60%;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.Button {
    background-color: white;
    border-bottom: 1px solid #e4e8e9;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 8px;
}

.menu {
    height: 650px;
    width: 800px;
    margin: 90px auto;
    background-color: white;

}

/*utilities*/
.frecce {
    display: inline-block;
    font-size: 15px;
}

.tick {
    color: #2fc7ac;
    border-radius: 50%;
    border: 1px solid #2fc7ac;
    display: inline-block;
    width: 1rem;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1rem;
    height: 1rem;
}

.cross {
    color: #ff4141;
    border-radius: 50%;
    border: 1px solid #ff4141;
    display: inline-block;
    width: 1rem;
    font-size: 0.5rem;
    text-align: center;
    line-height: 1rem;
    height: 1rem;

}

.ttodo {
    display: inline-block;
    padding-left: 6px;
    vertical-align: text-bottom;
}

.colored_box {
    display: inline-block;
    width: 75px;
    height: 25px;
    border-radius: 10px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}

#color1 {
    background-color: #09a9ed;
    color: white;
}

#color2 {
    background-color: #09a9ed;
    color: white;
}

#color3 {
    background-color: #ab5de6;
    color: white;
}

#color4 {
    background-color: #2cc6ab;
    color: white;
}

#color5 {
    background-color: #ff9b00;
    color: white;
}

#color6 {
    background-color: #ec4a9d;
    color: white;
}

#color7 {
    background-color: #a3d116;
    color: white;
}

#color8 {
    background-color: #09a9ed;
    color: white;
}


/*end utilities*/

#button1 {
    background-color: #09a9ed;
    border-radius: 10px;
    color: white;
    width: 80px;
    height: 30px;
    border: solid #14aaf5;
}

#button2 {
    background-color: white;
    border-radius: 10px;
    color: #c0c4c6;
    width: 100px;
    height: 30px;
    border: solid #c0c4c6;
}

.task {
    padding: 5rem;
    color: #494e56;
}

.titoli {
    display: inline-block;
    color: #494e56;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.option_text {
    padding-top: 5px;
}

.option_title {
    padding-bottom: 40px;
}